:root {
  --el-aside-border-color: #e4e7ed;
  --el-aside-logo-text-color: #303133;
  --el-header-logo-text-color: #303133;
  --el-header-bg-color: #ffffff;
  --el-header-text-color: #303133;
  --el-header-text-color-regular: #606266;
  --el-header-border-color: #e4e7ed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

#app,
.layout,
.content-box {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
}

a {
  color: #0960bd;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}
