.layout {
  :deep(.el-header) {
    background-color: var(--el-header-bg-color);
    border-bottom: 1px solid var(--el-header-border-color);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
}
