.grid-box {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    cursor: move;
    border: 1px solid #e5e7e9;
    &:nth-child(1) {
      background-color: #87bba2;
    }
    &:nth-child(2) {
      background-color: #ff9b54;
    }
    &:nth-child(3) {
      background-color: #73628a;
    }
    &:nth-child(4) {
      background-color: #76c893;
    }
    &:nth-child(5) {
      background-color: #619b8a;
    }
    &:nth-child(6) {
      background-color: #55828b;
    }
    &:nth-child(7) {
      background-color: #427aa1;
    }
    &:nth-child(8) {
      background-color: #38a3a5;
    }
    &:nth-child(9) {
      background-color: #fcca46;
    }
    &.chosen {
      border: 2px solid #89cffd !important;
    }
  }
}
