.grid-box {
  @colors: #87bba2, #ff9b54, #73628a, #76c893, #619b8a, #55828b, #427aa1, #38a3a5, #fcca46;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    cursor: move;
    border: 1px solid #e5e7e9;
    &.chosen {
      border: 2px solid #89cffd !important;
    }
  }

  each(@colors, {
    .item-@{index} {
      background-color: @value;
    }
  });
}
